*__pycache__*
*vscode_
.ipynb_checkpoints
training_results
hMOF_CIFs
ads_reg_CIFs
debug copy.py
debug.py
final_predictions_1.csv
final_predictions_2.csv
inference_dataset.csv
inference_metadata.csv
mofid.sif